<div class="container tableStyle">
  <div class="form-field">
    <input type="text" class="search-text" placeholder="Search.." autocomplete="off" #search [(ngModel)]="searchString">
  </div>
  <table id="table" class="table table-bordered" #dataTable>
    <thead>
      <tr>
        <th *ngFor="let col of headers; let i=index">
          <span>{{col.name}}</span> <span (click)="sort(col.prop)">
            <i class="material-icons" *ngIf="arrowIcon">&#xe5d8;</i>
            <i class="material-icons" *ngIf="!arrowIcon">&#xe5db;</i>
          </span>
        </th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableData | slice: pageIndex * pageSize:(pageIndex + 1) * pageSize | filter : searchString; let i=index">
        <td *ngFor="let col of headers">
          <span *ngIf="!editUser">{{data[col.prop]}}</span>
        </td>
        <td>
          <a class="edit" title="Edit" data-toggle="tooltip" (click)="editUserData(i, data)"><i
              class="material-icons edit">&#xE254;</i></a>
              <a class="view" title="View" data-toggle="tooltip" (click)="viewUserData(i, data)"><i
                class="material-icons visibility">&#xe8f4;</i></a>
            <a class="delete" title="Delete" data-toggle="tooltip" (click)="deleteUserData(i)"><i
              class="material-icons delete">&#xE872;</i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination class="pagination" [itemCount]="itemsCount" [(pageIndex)]="pageIndex" [pageSize]="pageSize"></app-pagination>
  </div>
