h4 {
  text-align: center;
  margin-top: 16px;
}

h5 {
  margin-top: 10px;
}

.details {
  padding-left: 30%;
}

.infoAlign {
  display: grid;
  grid-template-columns: 22% 5% auto;
}

.viewPage {
text-align:center;
}

.back {
  margin-top:20px;
}
